<!DOCTYPE html>


<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Help_page</title>

    <style>
        #csdn-toolbar .toolbar-logo, #csdn_tool_otherPlace .toolbar-logo {
    max-width: 80px;
    height: 100%;
    margin-right: 8px;
    position: relative;
}

    </style>
</head>
<body>
<div id="csdn-toolbar" style="position: relative;top:0px;left:0px;width:100%"></div>
<div class="toolbar-inside"></div>
    <div class="toolbar-left"></div>
        <div class="toolbar-logo csdn-toolbar-f1"></div>
            <a href="https://www.baidu.com">
                <img src="https://tse1-mm.cn.bing.net/th/id/R-C.8f5e39bf04e028049de157d114fd64c8?rik=1bCmZu0w7UpNNQ&riu=http%3a%2f%2fpic.22520.cn%2fup%2f200820%2f1597890626614450.jpg&ehk=obixNYtl9XD7%2f8Yk5hiN20RoNEoWek0o5r3tBdbLKC4%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1">
            </a>
    <div class="toolbar-midddle"></div>
    <div class="toolbar-right"></div>
</body>
</html>